.pet-thumbnail {
  .thumbnail-carousel {
    img {
      height: 240px;
      width: auto;
    }
  }
  button.close {
    opacity: 0.5;
    font-size: 16px;
  }
  .thumbnail-cell {
    min-height: 260px;

    &.description {
      h3 {
        margin-top: 0;
      }

      ul {
        margin-top: 20px;
        padding-left: 0;

        li {
          margin-right: 10px;
        }
      }

      .badge {
        padding: 7px;
      }
    }

    &.price {
      position: relative;
      .pet-rating {
        text-align: center;
        font-size: 16px;
        margin-top: 15px;
      }
      button {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .glyphicon-star, .glyphicon-star-empty {
        color: #337AB7;
      }
    }

    @media (max-width: 767px) {
      &.description {
        margin-top: 10px;
        min-height: auto;
      }

      &.price {
        min-height: auto;
        button {
          .col-xs-12;
          position: static;
        }
      }
    }
  }
}
