<div class="pet-thumbnail" id="pet-thumbnail" role="region" aria-live="assertive">
  <div class="panel panel-default" ng-if="vm.active.pet">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Your awesome pet is {{ vm.active.pet.name }}!</h4>
      <button type="button" class="close" ng-click="vm.delete(vm.active.pet.id);">
        <span aria-hidden="true">× <span class="hide-mobile">Remove</span></span>
        <span class="sr-only">Remove</span>
      </button>
    </div>
    <div class="panel-body">

      <div class="col-sm-5 thumbnail-cell thumbnail-carousel">
        <ps-pet-carousel images="vm.active.pet.photoUrls"></ps-pet-carousel>
      </div>

      <div class="col-sm-4 thumbnail-cell description text-center">
          <h3>{{ vm.active.pet.name }}</h3>
          <ul>
            <li data-ng-repeat="tag in vm.active.pet.tags" class="badge">{{ tag.name }}</li>
          </ul>
        <p>The Skinny Pig is an almost hairless breed of Guinea pig. Skinny pigs typically have hair on their muzzles, feet, and legs, but are hairless over the remainder of their bodies. Some of them have a thin covering of fuzzy hair on their backs as well. </p>
      </div>

      <div class="col-sm-3 thumbnail-cell price">
        <div class="row">
        <h3 class="text-center panel-title price">$89<span class="price-cents">99</span></h3>
          <div class="pet-rating">
            <rating ng-model="vm.rating" max="5" titles="['one','two','three']" ></rating>
          </div>
        <button class="btn btn-success col-sm-6" ng-if="vm.active.pet.status === 'available'">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
